@model StockMarketAnalyzer.BO.UserPortfolio

<span style="float:right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-plus"></span> Add to Portfolio
    </button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">@Model.Company.Name</h4>
                </div>
                @using (Html.BeginForm("_AddToPortfolio", "Home", FormMethod.Post))
                {
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BuyRate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BuyRate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BuyRate, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="button" id="AddToPortfolio" class="btn btn-default">Add</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                }
                @*<form class="form-horizontal" role="form" action="stock.php" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="last">Quantity :</label>
                                <div class="col-sm-5">
                                    <input type="text" maxlength="10" class="form-control" name="podetails[]" id="last" placeholder="Enter Quantity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="last">Rate :</label>
                                <div class="col-sm-5">
                                    <input type="text" maxlength="10" class="form-control" name="podetails[]" id="last" placeholder="Enter Rate">
                                    <input type="hidden" maxlength="10" class="form-control" name="podetails[]" id="last" placeholder="Enter Rate">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>*@
            </div>
        </div>
    </div>
</span>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
