@model StockMarketAnalyzer.BO.Company

@{
    ViewBag.Title = "CompanyDetail";
}
<style>
    .time_rtq_ticker {
        font: bold 30px arial;
        padding-right: 6px;
    }

    .up_g, .up_g span {
        color: #080;
        font-weight: bold;
    }

    .up_r, .up_r span {
        color: red;
        font-weight: bold;
    }

    .time_rtq_content {
        font: bold 20px arial;
    }

    .bs-callout-warning {
        border-left-color: #aa6708 !important;
    }

    .bs-callout {
        padding: 5px 0 5px 20px;
        margin: 10px 0;
        border: 1px solid #eee;
        border-left-width: 5px;
        border-radius: 3px;
    }

</style>
<div>
    <div class="col-md-3">
        <br />
        <div class="list-group">
            <a href="#" class="list-group-item active menu-select" data-value="companySummaryDiv">Summary</a>
            <a href="#" class="list-group-item menu-select" data-value="historicalDataDiv">Historical Prices</a>
            <a href="#" class="list-group-item menu-select" data-value="companyFeedsDiv">Feeds</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="#" class="list-group-item menu-select">Charts</a>
            }
        </div>
    </div>
    <div class="col-md-9">
        <h2>Name (@Model.Symbol)</h2>
        <span>@Model.CompanyProfile.Address1 , @Model.CompanyProfile.City, @Model.CompanyProfile.State, @Model.CompanyProfile.Country , @Model.CompanyProfile.Zip </span>

        <br />
        <br />
        <span class="time_rtq_ticker">
            <span id="yfs_l84_f">@Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().Close.ToString("0.00")</span>
        </span>


        @if (Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().Change > 0)
        {
            <span class="up_g time_rtq_content">
                <span id="yfs_c63_f">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                    <span class="yfi-price-change-red">@Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().Change.ToString("0.00")</span>
                </span>
                <span id="yfs_p43_f">
                    <span class="yfi-price-change-red">(@Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().PercentageChange.ToString("0.00"))</span>
                </span>
            </span>

        }
        else
        {
            <span class="up_r time_rtq_content">
                <span id="yfs_c63_f">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    <span class="yfi-price-change-red">@Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().Change.ToString("0.00")</span>
                </span>
                <span id="yfs_p43_f">
                    <span class="yfi-price-change-red">(@Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().PercentageChange.ToString("0.00"))</span>
                </span>
            </span>
        }
        <br />
        <br />
        <hr />
        @Html.Partial("_CompanySummary",Model)

        @Html.Partial("_HistoricalData",Model.HistoricalDatas)

        @Html.Partial("_CompanyFeeds", Model.CompanyFeeds)
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#historicalData").DataTable();
            
            $(".menu-select").click(submenu_navigator);

            function submenu_navigator() {
                
                $(".menu-select").each(function () {
                    $(this).removeClass("active");
                    
                    if ($(this).attr("data-value")) {
                        $("#" + $(this).attr("data-value")).hide();
                    }
                });
                
                $(this).addClass("active");
                $("#" + $(this).attr("data-value")).show();
            }
        });

    </script>
}