@model StockMarketAnalyzer.BO.Company

@{
    ViewBag.Title = "CompanyDetail";
}
<div ng-app="MyApp" ng-controller="HomeController" id="YourElementId">
    <div>
        <h2>
            @Model.Name
            <span style="font-size:20px">(@Model.Symbol)</span>
            <a href="#" <span style="font-size:15px"><span class="glyphicon glyphicon-star-empty"></span> Add to Watchlist</span></a>
        </h2>
        <span><strong>@Model.ExchDisp </strong>(@Model.Exch), - <strong>@Model.TypeDisp</strong> </span>

        @*        <span>@Model.CompanyProfile.Address1 , @Model.CompanyProfile.City, @Model.CompanyProfile.State, @Model.CompanyProfile.Country , @Model.CompanyProfile.Zip </span>*@

        <br />
        <br />
        <span class="time_rtq_ticker">
            <span id="yfs_l84_f">{{getCurrency('@Model.Exch')}} @Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().Close.ToString("0.00")</span>
        </span>


        @if (Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().Change > 0)
        {
            <span class="up_g time_rtq_content">
                <span id="yfs_c63_f">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                    <span class="yfi-price-change-red">{{getCurrency('@Model.Exch')}} @Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().Change.ToString("0.00")</span>
                </span>
                <span id="yfs_p43_f">
                    <span class="yfi-price-change-red">( @Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().PercentageChange.ToString("0.00") %)</span>
                </span>
            </span>

        }
        else
        {
            <span class="up_r time_rtq_content">
                <span id="yfs_c63_f">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                    <span class="yfi-price-change-red">{{getCurrency('@Model.Exch')}} @Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().Change.ToString("0.00")</span>
                </span>
                <span id="yfs_p43_f">
                    <span class="yfi-price-change-red">( @Model.HistoricalDatas.OrderByDescending(x => x.Date).FirstOrDefault().PercentageChange.ToString("0.00") %)</span>
                </span>
            </span>
        }

        @Html.Partial("_AddToPortfolio", new StockMarketAnalyzer.BO.UserPortfolio() { Company = new StockMarketAnalyzer.BO.Company() { Name = @Model.Name } })

        <br />
        <br />
        <br />
        <ul class="nav nav-tabs">
            <li role="presentation" class="menu-select active" data-value="companySummaryDiv"><a href="#">Summary</a></li>
            <li role="presentation" class="menu-select" data-value="companyProfile"><a href="#">Profile</a></li>
            <li role="presentation" class="menu-select" data-value="historicalDataDiv"><a href="#">Historical Prices</a></li>
            <li role="presentation" class="menu-select" data-value="companyFeedsDiv"><a href="#">Feeds</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li role="presentation" class="menu-select" data-value="chartsDiv"><a href="#">Charts</a></li>
            }
        </ul>
        <br />
        @Html.Partial("_CompanySummary", Model)

        @Html.Partial("_CompanyProfile", Model)

        @Html.Partial("_HistoricalData", Model.HistoricalDatas)

        @Html.Partial("_CompanyFeeds", Model.CompanyFeeds)

        @Html.Partial("_Charts", Model)
    </div>
</div>



@section scripts{

    <script src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/MyApp/app.js"></script>
    <script src="~/Scripts/canvasJs/canvasjs.min.js"></script>
    <script src="~/Scripts/canvasJs/jquery.canvasjs.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#historicalData").DataTable();

            $(".menu-select").click(submenu_navigator);

            function submenu_navigator() {

                $(".menu-select").each(function () {
                    $(this).removeClass("active");

                    if ($(this).attr("data-value")) {
                        $("#" + $(this).attr("data-value")).hide();
                    }
                });

                $(this).addClass("active");
                $("#" + $(this).attr("data-value")).show();
            }
        });

    </script>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
            {
                title: {
                    text: "@Model.Name's Stock Prices",
                },
                exportEnabled: true,
                axisY: {
                    includeZero: false,
                    prefix: angular.element(document.getElementById('YourElementId')).scope().getCurrency('@Model.Exch'),
                    title: "Prices",
                },
                axisX: {
                    interval: 1,
                    valueFormatString: "MMM-DD",
                },
                data: [
                {
                    type: "ohlc",
                    color: "#DD7E86",
                    showInLegend: true,
                    yValueFormatString: "$##0.##",
                    name: "@Model.Name's Everyday Stock Prices",
                    dataPoints: [   // Y: [Open, High ,Low, Close]
                        @foreach (var item in Model.HistoricalDatas.OrderByDescending(x=>x.Date).Take(35))
	                    {
                            <text>{ x: new Date(@item.Date.Year,@item.Date.Month,@item.Date.Day), y: [@item.Open,@item.High,@item.Low,@item.Close]},</text>

	                    }
                    ]
                }
                ]
            });
            chart.render();

            var todayDecreaseChart = new CanvasJS.Chart("todayDecreaseChartContainer",{
                title:{
                    text: "Today Decrease"
                },
                animationEnabled: true,
                axisY: {
                    title: "Next day prediction"
                },
                legend: {
                    verticalAlign: "bottom",
                    horizontalAlign: "center"
                },
                theme: "theme2",
                data: [

                {
                    type: "column",
                    showInLegend: true,
                    toolTipContent: "{y}%",
                    legendMarkerColor: "grey",
                    legendText: "",
                    dataPoints: [
                        {  y: @Model.DecreaseNextDayIncreasePercentages, label: "Increase"},
                        {  y: @Model.DecreaseNextDayDecreasePercentages, label: "Descrease"},
                        {  y: @Model.DecreaseNextDayNoChangePercentages, label: "No Change"}
                    ]
                }
                ]
            });

            todayDecreaseChart.render();

            var todayNoChangeChart = new CanvasJS.Chart("todayNoChangeChartContainer",{
                title:{
                    text: "Today No Change"
                },
                animationEnabled: true,
                axisY: {
                    title: "Next day prediction"
                },
                legend: {
                    verticalAlign: "bottom",
                    horizontalAlign: "center"
                },
                theme: "theme2",
                data: [

                {
                    type: "column",
                    showInLegend: true,
                    toolTipContent: "{y}%",
                    legendMarkerColor: "grey",
                    legendText: "",
                    dataPoints: [
                            {  y: @Model.NoChangeNextDayIncreasePercentages, label: "Increase"},
                            {  y: @Model.NoChangeNextDayDecreasePercentages, label: "Descrease"},
                            {  y: @Model.NoChangeNextDayNoChangePercentages, label: "No Change"}
                    ]
                }
                ]
            });
            todayNoChangeChart.render();

            var todayIncreaseChart = new CanvasJS.Chart("todayIncreaseChartContainer",{
                title:{
                    text: "Today Increase"
                },
                animationEnabled: true,
                axisY: {
                    title: "Next day prediction"
                },
                legend: {
                    verticalAlign: "bottom",
                    horizontalAlign: "center"
                },
                theme: "theme2",
                data: [

                {
                    type: "column",
                    showInLegend: true,
                    toolTipContent: "{y}%",
                    legendMarkerColor: "grey",
                    legendText: "",
                    dataPoints: [
                            {  y: @Model.IncreaseNextDayIncreasePercentages, label: "Increase"},
                    {  y: @Model.IncreaseNextDayDecreasePercentages, label: "Descrease"},
                            {  y: @Model.IncreaseNextDayNoChangePercentages, label: "No Change"}
                    ]
                }
                ]
            });
            todayIncreaseChart.render();

            $("#chartsDiv").hide();
        }

    </script>
    <script>
        $("#AddToPortfolio").click(function(){
            $.ajax({
                url:"/Home/_AddToPortfolio",
                method:"POST",
                data:{Quantity:$("#Quantity").val(),BuyRate:$("#BuyRate").val(),Symbol:"@Model.Symbol"}
            }).success(function(response){
                $("#myModal").modal('hide');
            });
        });
    </script>
}