@model StockMarketAnalyzer.BO.FacebookWidgetViewModel

<style>
    .panel-heading h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: 35%;
        padding-top: 8px;
    }

    .facebook-scroll {
        overflow: scroll;
        height: 500px;
    }

    .media {
        width: 85%;
        margin: 0 auto 0 auto;
    }

    .media-body{
        width:282px !important;
    }
    .media-left img{
        height:50px !important;
        width:50px !important;
    }

    .ma-r-10 {
        margin-right: 10px;
    }
</style>

<script>
    $(document).ready(function () {
        $.ajaxSetup({ cache: true });
        $.getScript('//connect.facebook.net/en_US/sdk.js', function () {
            FB.init({
                version: 'v2.6'
            });
        });
    });
</script>

<script type="text/javascript">
    var fbHandle = '@Model.FacebookURL';

    if (!fbHandle) {
        fbHandle = '@Model.Name';
    }

    function loadPosts(url, fbHandle) {
        $("#fb-widget").toggle();
        $("fb-spinner").toggle();

        url = url + "?handle=" + fbHandle;
        $.ajax({
            type: 'get',
            url: url,
            dataType: 'json'
        }).done(function (response) {
            $("#fb-widget").toggle();
            $("fb-spinner").toggle();
            var Posts = $.parseJSON(response);

            if (Posts.data.length > 0) {
                for (i = 0; i < Posts.data.length; i++) {

                    var PostLink = Posts.data[i].permalink_url;

                    if (PostLink.toLowerCase().indexOf("/videos/") >= 0) {
                        $("#posts").append('<div id="' + PostLink + '"><div class="fb-video" data-href="' + PostLink + '" data-width="470" data-show-text="false"><blockquote cite="' + PostLink + '" class="fb-xfbml-parse-ignore"> </blockquote></div></div><hr>');
                    } else {
                        $("#posts").append('<div id="' + PostLink + '"><div class="fb-post" data-href="' + PostLink + '" data-width="470" data-show-text="true"><blockquote cite="' + PostLink + '" class="fb-xfbml-parse-ignore"></blockquote></div></div><hr>');
                    }
                    FB.XFBML.parse(document.getElementById(PostLink));
                }

                if (Posts.paging.hasOwnProperty('next')) {
                    $('#posts').append('<div id="showMoreButton"><br><button class="showMoreData btn btn-primary btn-block ladda-button" onclick="loadMorePosts(\'' + Posts.paging.next + '\')">Show More</button></div>');
                }

            } else {
                $("#posts").append('<div class="alert">  <button type="button" class="close" data-dismiss="alert">&times;</button>  No Record Found!.</div>');
            }
        }).fail(function (response) {
            $("#fb-widget").toggle();
            $("fb-spinner").toggle();
            $("#posts").append('<div class="alert">  <button type="button" class="close" data-dismiss="alert">&times;</button>  Can not connect to facebook server!.</div>');
        });
    }

    function loadMorePosts(nextPostsUrl) {
        $("#fb-widget").toggle();
        $("fb-spinner").toggle();

        $.ajax({
            type: 'get',
            url: "@Url.Action("GetMorePosts", "Facebook", new { area = "" })",
            data: { 'query': nextPostsUrl },
            dataType: 'json'
        }).done(function (response) {
            $("#fb-widget").toggle();
            $("fb-spinner").toggle();

            var Posts = $.parseJSON(response);

            $("#posts > #showMoreButton").remove();

            if (Posts.data.length > 0) {
                for (i = 0; i < Posts.data.length; i++) {

                    var PostLink = Posts.data[i].permalink_url;

                    if (PostLink.toLowerCase().indexOf("/videos/") >= 0) {
                        $("#posts").append('<div id="' + PostLink + '"><div class="fb-video" data-href="' + PostLink + '" data-width="470" data-show-text="false"><blockquote cite="' + PostLink + '" class="fb-xfbml-parse-ignore"> </blockquote></div></div><hr>');
                    } else {
                        $("#posts").append('<div id="' + PostLink + '"><div class="fb-post" data-href="' + PostLink + '" data-width="470" data-show-text="true"><blockquote cite="' + PostLink + '" class="fb-xfbml-parse-ignore"></blockquote></div></div><hr>');
                    }
                    FB.XFBML.parse(document.getElementById(PostLink));
                }

                if (Posts.paging.hasOwnProperty('next')) {
                    $('#posts').append('<div id="showMoreButton"><br><button class="btn btn-ms btn-block ladda-button showMoreData" onclick="loadMorePosts(\'' + Posts.paging.next + '\')">Show More</button></div>');
                }

            } else {
                $("#posts").append('<div class="alert">  <button type="button" class="close" data-dismiss="alert">&times;</button>  No Record Found!.</div>');
            }
        }).fail(function (respose) {
            $("#fb-widget").toggle();
            $("fb-spinner").toggle();

            $("#posts").append('<div class="alert">  <button type="button" class="close" data-dismiss="alert">&times;</button>  Can not connect to facebook server!.</div>');
        });
    };

    function getPosts() {
        var val = $("#typeOfPosts").val();
        $("#posts").html('');

        var url = "";
        if (val === "Timeline") {
            url = "@Url.Action("GetPosts", "Facebook", new { area = "" })";
        } else if (val === "Tagged") {
            url = "@Url.Action("GetTaggedPosts", "Facebook", new { area = "" })";
        }

        loadPosts(url, fbHandle);
    };
    $(document).ready(function () {
        $("#typeOfPosts").on('change', getPosts);
    });
</script>

<script type="text/javascript">
    var name = '@Model.Name';

    function getHandles(query) {
        $("#fb-widget").toggle();
        $("fb-spinner").toggle();

        $.ajax({
            type: 'get',
            url: "/Facebook/GetHandles?query=" + query,
            dataType: 'json'
        }).done(function (response) {
            $("#fb-widget").toggle();
            $("fb-spinner").toggle();

            var Handles = $.parseJSON(response);
            var HandlesData = Handles.data;

            if (Handles.data.length > 0) {
                for (i = 0; i < HandlesData.length; i++) {
                    $("#handles").append('<li class="media"> <a class="media-left"> <img alt="image" class="img-circle" width="50px" height="50px" src="' + HandlesData[i].picture.data.url + '" /> </a> <div class="media-body "> <div><strong>' + HandlesData[i].name + '</strong></div>  <div><h6>' + HandlesData[i].link + '</h6></div>  </div> <div class="media-right"><a onclick="updateHandle(\'' + HandlesData[i].id + '\')" title="Update Handle" class="btn btn-default btn-xs">Select Feed</a></div>  </li> <hr>');
                }
                if (Handles.paging.hasOwnProperty('next')) {
                    $('#handles').append('<div id="showMoreButton"><br><button class="btn btn-ms btn-block ladda-button" onclick="getMoreHandles(\'' + Handles.paging.next + '\')">Show More</button></div>');
                }
            } else {
                $("#handles").append('<div class="alert">  <button type="button" class="close" data-dismiss="alert">&times;</button>  No Record Found!.</div>');
            }

        }).fail(function () {
            $("#fb-widget").toggle();
            $("fb-spinner").toggle();

            $("#handles").append('<div class="alert">  <button type="button" class="close" data-dismiss="alert">&times;</button>  Can not connect to facebook server!.</div>');
        });
    }

    function getMoreHandles(nextHandlesUrl) {
        $("#fb-widget").toggle();
        $("fb-spinner").toggle();

        $.ajax({
            type: 'get',
            url: "@Url.Action("GetMoreHandles", "Facebook", new { area = "" })",
            data: { 'query': nextHandlesUrl },
            dataType: 'json'
        }).done(function (response) {
            $("#fb-widget").toggle();
            $("fb-spinner").toggle();

            var Handles = $.parseJSON(response);
            var HandlesData = Handles.data;

            $("#handles > #showMoreButton").remove();

            if (Handles.data.length > 0) {
                for (i = 0; i < HandlesData.length; i++) {
                    $("#handles").append('<li class="media"> <a class="media-left"> <img alt="image" class="img-circle" src="' + HandlesData[i].picture.data.url + '" /> </a> <div class="media-body "> <div><strong>' + HandlesData[i].name + '</strong></div>  <div><h6>' + HandlesData[i].link + '</h6></div>  </div> <div class="media-right"><a onclick="updateHandle(\'' + HandlesData[i].id + '\')" title="Update Handle" class="btn btn-default btn-xs">Select Feed</a></div>  </li> <hr>');
                }

                if (Handles.paging.hasOwnProperty('next')) {
                    $('#handles').append('<div id="showMoreButton"><br><button class="btn btn-ms btn-block ladda-button" onclick="getMoreHandles(\'' + Handles.paging.next + '\')">Show More</button></div>');
                }
            } else {
                $("#handles").append('<div class="alert">  <button type="button" class="close" data-dismiss="alert">&times;</button>  No Record Found!.</div>');
            }
        }).fail(function (respose) {
            $("#fb-widget").toggle();
            $("fb-spinner").toggle();

            $("#handles").append('<div class="alert">  <button type="button" class="close" data-dismiss="alert">&times;</button>  Can not connect to facebook server!.</div>');
        });
    }

    function updateHandle(handle) {
        /* Append handle with http://www.facebook.com/handle  and update it into model and reload this view*/
        var fburl = 'http://www.facebook.com/' + handle;

        var model = { name: '@Model.Name', facebookUrl: fburl, ticker: '@Model.Ticker' };

        updateFacebookHandle(fburl, '@Model.Ticker');

        $("#FacebookWidgetDiv").load("@Url.Action("UpdateHandle", "Facebook", new { area = "" })", { name: model.name, facebookUrl: model.facebookUrl, ticker: model.ticker });
    }

    function updateFacebookHandle(facebookHandle, ticker) {
        if (ticker == "" || typeof ticker === "undefined")
            return;

        var postData = {
            ticker: ticker,
            facebookUrl: facebookHandle
        };

        $.ajax({
            url: '/Facebook/UpdateFBHandleInDatabase',
            contentType: 'application/json; charset-utf-8',
            type: 'POST',
            datatype: 'json',
            data: JSON.stringify(postData),
            success: function (result) {
            },
            error: function (xhr, status) {
            }
        })
    }

    $(document).ready(function () {
        $('#incorrectFeed').on('click', function () {

            //only get handles if they are not retrieved earlier
            if ($("#handles").children('li').length === 0) {
                getHandles('@Model.Name');
            }

            var value = $(this).attr("data-value");
            if (value === "Incorrect Feed ?") {
                value = "Cancel";
            } else if (value === "Cancel") {
                value = "Incorrect Feed ?";
            }
            $(this).attr("data-value", value);
            $(this).html(value);

            $("#posts").parent().toggle();
            $("#handles").parent().toggle();
            $("#typeOfPosts").toggle();
        });
    });
</script>

<div class="panel panel-default" id="fb-widget">
    @if (Model.IsAdminUser)
    {
        if (!string.IsNullOrWhiteSpace(Model.FacebookURL))
        {
            <div class="panel-heading">
                <h4 class="panel-title pull-left"><i class="fa fa-facebook-official"></i> Facebook</h4>
                <select id="typeOfPosts" class="btn btn-sm btn-default pull-right" style="height:30px">
                    <option>Timeline</option>
                    <option>Tagged</option>
                </select>
                <button class="btn btn-sm btn-default pull-right ma-r-10" id="incorrectFeed" data-value="Incorrect Feed ?">Incorrect Feed ?</button>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body facebook-scroll">
                <ul class="media-list" id="posts"></ul>
            </div>
            <div class="panel-body facebook-scroll" style="display:none">
                <ul class="media-list" id="handles"></ul>
            </div>
            <script type="text/javascript">
                loadPosts("/facebook/GetPosts", "@Model.FacebookURL");
            </script>
        }
        else
        {
            <div class="panel-heading">
                <h4 class="panel-title pull-left"><i class="fa fa-facebook-official"></i> Facebook</h4>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body facebook-scroll">
                <ul class="media-list" id="handles"></ul>
            </div>
            <script type="text/javascript">
                getHandles("@Model.Name");
            </script>
        }
    }
    else
    {
        if (!string.IsNullOrWhiteSpace(Model.FacebookURL))
        {
            <div class="panel-heading">
                <h4 class="panel-title pull-left"><i class="fa fa-facebook-official"></i> Facebook</h4>
                <select id="typeOfPosts" class="btn btn-sm btn-default pull-right" style="height:30px">
                    <option>Timeline</option>
                    <option>Tagged</option>
                </select>
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-sm btn-default pull-right ma-r-10">Report Incorrect Feed ?</button>
                }
                <div class="clearfix"></div>
            </div>
            <div class="panel-body facebook-scroll">
                <ul class="media-list" id="posts"></ul>
            </div>
            <script type="text/javascript">
                loadPosts("/facebook/GetPosts", "@Model.FacebookURL");
            </script>
        }
        else
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#fb-widget").parent().remove();
                });
            </script>
        }
    }
</div>
<div class="spinner-wrap" id="fb-spinner" style="display:none">
    <div class="ibox-title"><i class="fa fa-spinner fa-spin fa-pulse fa-fw" style="width:auto"></i> Loading Facebook</div>
</div>
